body {
    display: grid;
    grid-template-columns: 200px auto; /* Duas colunas: uma com tamanho automático e outra com 200px de largura */
    background-color: #333333;
    min-height: 100vh;
    margin: 0; /* Remover margens padrão do corpo da página */
}

/* Estilizando o cabeçalho */
header {
    background-color: #252525;
    color: #EEF22C;
    text-align: center;
    padding: 10px 0;
    height: 131px;
}

/* Estilizando o botão de incrementar o contador de bugs */
#numeroDeBugs button {
    background-color: #008080;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}

/* Estilizando o menu */
nav {
    background-color: #008080;
    color: #EEF22C;
    padding: 10px;
    height: 100vh;
    overflow-y: auto;
}

/* Restante do seu CSS permanece o mesmo */
#ambientes h3,
#selecaoDeRoles h3 {
    font-weight: bold;
    margin-top: 0;
    padding-top: 0;
}

#ambientes li,
#selecaoDeRoles li {
    list-style: none;
    margin: 5px 0;
}

#ambientes a,
#selecaoDeRoles a {
    text-decoration: none;
    color: #EEF22C;
    display: block;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#ambientes a:hover,
#selecaoDeRoles a:hover {
    background-color: #5C1E56;
}
